<h1>Restaurants</h1>


<% @restaurants.each do |r| %>
  <%= render r %>
  <p>
    <%= link_to 'Show this restaurant', restaurant_path(r), class: 'btn btn-primary' %>
    <br>----------------------------------------------
  </p>
<% end %>
