<h1>Restaurants</h1>

<%= link_to '+ Add new restaurant', new_restaurant_path, class: 'btn btn-secondary float-end' %>
<% @restaurants.each do |r| %>
  <%= render r %>
  <p>
    <%= link_to 'Show this restaurant', restaurant_path(r), class: 'btn btn-info' %>
    <br>----------------------------------------------
  </p>
<% end %>
